In [1]:
%load_ext sql
%sql trino://admin@localhost:8080/default
%sql SHOW CATALOGS
%sql USE hudi.default
%sql show tables

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('processed_orders',)]

In [3]:
%sql SELECT * from processed_orders

 * trino://admin@localhost:8080/default
Done.

[('20240414112338515', '20240414112338515_0_0', '10002', '', 'f98622ba-39c6-4f61-ba73-2b47f81cedfc-0_0-60-44_20240414112538542.parquet', '10002', '16817', '1002', 'George', 'Bailey', 'gbailey@foobar.com', '2', '105'),
 ('20240414112338515', '20240414112338515_0_1', '10003', '', 'f98622ba-39c6-4f61-ba73-2b47f81cedfc-0_0-60-44_20240414112538542.parquet', '10003', '16850', '1002', 'George', 'Bailey', 'gbailey@foobar.com', '2', '106'),
 ('20240414112538542', '20240414112538542_0_2', '10004', '', 'f98622ba-39c6-4f61-ba73-2b47f81cedfc-0_0-60-44_20240414112538542.parquet', '10004', '16852', '1003', 'Edward brown', 'Walker', 'ed@walker.com', '1', '107'),
 ('20240414112338515', '20240414112338515_0_3', '10001', '', 'f98622ba-39c6-4f61-ba73-2b47f81cedfc-0_0-60-44_20240414112538542.parquet', '10001', '16816', '1001', 'Sally', 'Thomas', 'sally.thomas@acme.com', '1', '102')]